body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh; 
  box-sizing: border-box;
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
}

#root {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin: 0 auto; 
  padding: 0;
  background-color: white;
}

body.light {
  background-color: white;
  color: black;
}


body.dark #root {
  background-color: #1f1f1f;
  color: #b0ffb0; 
}

body.dark {
  background-color: #1f1f1f; 
  color: #b0ffb0; 
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

h1{
  text-align: center;
}

nav {
  display: flex;
  justify-content: end; 
  align-items: center; 
  padding: 1rem;
  width: 100%; 
  box-sizing: border-box; 
}

nav.light {
  background-color: #f8f9fa; 
  border-bottom: 2px solid #007bff; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

nav.dark {
  background-color: #333; 
  border-bottom: 2px solid #2effd3; 
}

nav a {
  color: #007bff; 
  margin-left: 20px;
}

nav a:hover {
  color: #0056b3; 
}

a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(136, 136, 136);
} 

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  width: 90%;
  height: 40px;
  margin-top: 2rem;
}

footer > img{
  width: 200px;
  margin: 0;
}
footer > p{
  margin: 0;
  padding-top: 0.7rem;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

footer.light {
  background-color: white;
}

footer.dark {
  background-color: #121212;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  max-width: 300px;
  height: auto;
  padding: 0.5rem; 
  border: 1px solid rgb(136, 136, 136);
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
  box-sizing: border-box; 
}

.card:hover {
  border-color: rgb(206, 217, 142); 
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajuste dinámico de columnas */
  gap: 1rem; /* Espacio entre las cards */
  justify-items: center; /* Centra las cards horizontalmente */
  width: 100%;
  max-width: 1200px; /* Puedes ajustar este valor según sea necesario */
  margin: 0 auto; /* Centra el contenedor de las cards */
  padding: 1rem;
}

.card img {
  width: 100%;
  height: 50%; 
  object-fit: cover; 
  border-radius: 15px 15px 0 0; 
}


.card h2, .card h3 {
  margin: 0;
  padding: 0.5rem;
  text-align: center;
}

/* Estilos para cuando el tema es oscuro */
.dark .card {
  background-color: #2e2e2e; 
  color: #b0ffb0;
  border-color: #2effd3; 
}

.dark .card h2, .dark .card h3 {
  color: #2effd3; 
}

/* Estilos para el tema claro */
.card {
  background-color: white;
  color: black;
  border-color: #007bff;
}

.card h1, .card h2 {
  color: black; 
}



table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: #121212;
  color: white;
}

button {
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  cursor: pointer;
  border-radius: 10px; 
  background-color: #2effd3; 
  color: black;
  border: none;
}

button:hover {
  background-color: rgba(136, 136, 136, 0.5);
}

button:hover {
  background-color: #b0ffb0; /* Verde neón en hover */
}

.favButton {
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
  border-radius: 10px; /* Bordes redondeados */
}

.favButton:hover {
  background-color: rgba(136, 136, 136, 0.5);
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  box-sizing: border-box;
}

.contact-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #007bff;
}

.contact-container p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #555;
}

.contact-container form {
  width: 100%;
  height: auto;
  max-width: 400px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-container input {
  margin-bottom: 1rem;
}

.contact-container label {
  margin-bottom: 0.5rem;
}

.contact-container button {
  background-color: #2effd3;
  color: #000;
  border: none;
  padding: 0.8rem 1.5rem;
  margin-top: 1rem;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-container button:hover {
  background-color: #b0ffb0;
}

/* Dark theme */
.dark .contact-container h2 {
  color: #2effd3;
}

.dark .contact-container p {
  color: #ccc;
}

.dark .contact-container form {
  background-color: #333;
  border-color: #555;
}

.dark .contact-container button {
  background-color: #2effd3;
  color: #000;
}

.dark .contact-container button:hover {
  background-color: #b0ffb0;
}